/**

Base style sheet for display in mobile devices

Colors used
  #FF9900 #FF8125 #1F83FF #56C1E8 #C0F9FF
  #39BF5C #048058 #2DB870 #99FFA6 #A4E675
  #EDE5D9

*/

/* General settings */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #C0F9FF;
}

#wrapper {
  max-width : 1280px;
  margin: 0 auto 0 auto;
}

ul {
   list-style: none inside;
}

h1 {
  font: 600 15px/30px 'Arvo', serif;
  text-align: center;
  color: #FF9900;
}

h2 {
  font: 200 15px/30px 'Arvo', serif;
  text-align: left;
  color: #FF9900;
}

p {
  font: 14px/20px 'Arvo', serif;
  text-align: justify;
  padding: 1%;
}

button {
  background-color: #1F83FF;
  color: #EDE5D9;
}

.clear {
  clear: both;
}

#dark {
  position:fixed; 
  left:0; 
  top:0; 
  cursor:default; 
  background:#000; 
  width:100%; 
  height:100%;
  opacity:.5;
  filter:alpha(opacity=50);
  display: none;
}

.show {
  display: inherit;
}

/* Initialize beer :) */

.beer {
  width:32px;
  height:32px;
  background: url("../media/beer.png") no-repeat;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.beer:hover {
  transform: rotate(360deg);
}

.beer-1, .beer-2, .beer-3, .beer-4, .beer-5, .beer-6 {
  display: none;
}

/* Header and navigation */

header .title {
  background-color: #FF9900;
  color: #048058;
  border: solid 0.5em #1F83FF;
  border-radius: 1em;
  display: inline-block;
  width: 83%;
  height: 100%;
  margin: 1%;
  text-align: center;
  font: 400 14px/28px "Arvo", sans-serif;
  cursor: pointer;
}

header .extra {
  display: none;
}

#menu-button {
  display: inline-block;
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: linear;
  background: #56C1E8 url("../media/menu.png") 50% 50% no-repeat;
  border-radius: 50%;
  width: 13%;
  height: 42px; /* line-height + 2 * border of header .title */
  margin: 1%;
  float: right;
  cursor: pointer;
}

#menu-button:hover {
  background-color: #FF8125;
}

nav {
  font-family: "Arvo",sans-serif;
  width: 100%;
}

nav ul {
  background-color: #56C1E8;
  border-radius: 1em;
  margin: 1%;
  width: 100%;
  display: none;
}

nav li {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

nav a {
  transition-property: color, font-weight;
  transition-duration: .5s;
  transition-timing-function: linear;
  color: #048058;
}

nav a.active, nav a:hover {
  font-weight: 700;
  color: #FF9900;
}

/* Login dialog */

#login {
  display: none;
  background-color: #A4E675;
  border-radius: 1em;
  position: fixed;
/*
  left and top 50% centers the top-left corner.
  Negative margin of half width/height is needed
  to center the center of the box.
*/
  left:50%;
  top:50%;
  margin-top: -65px;
  margin-left: -75px;
  width: 150px;
  height: auto;
}

#login input {
  margin: 5%;
  width: 90%;
}

#login h1 {
  font: 600 18px/36px 'Arvo', serif;
  color: #1F83FF;
  text-align: center;
}

#login .submit {
  font-weigth 600;
  background-color: #FF9900;
}

#login .submit:hover {
  background-color: #FF8125;
}

/* Main content: articles */

article,
aside,
footer {
  display: inline-block;
  text-align: center;
  border: solid 3px #048058;
  border-radius: 20px;
  width: 98%;
  margin: 1%;
  padding: 1%;
}

article img {
  display: block;
  width: 94%;
  margin: 3%;
  height: auto;
  border-radius: 20px;
}

/* Contact Form */
#form-fill-in input,
#form-fill-in textarea 
{
  font-family: 'Arvo', serif;
  width: 98%;
  margin: 1%;
}

#form-fill-in .extra,
#form-fill-in label,
#form-sent,
.contact-info img{
  display: none 
}

#form-fill-in .extra,
#form-sent .extra,
.contact-info .extra {
  font: 12px 'Arvo', serif;
  color: #56C1E8;
  text-align: justify;
  margin: 2%;
}

#form-fill-in #submit {
  background-color: #1F83FF;
  color: #EDE5D9;
}

#form-fill-in #conditions {
  width: auto;
}

#form-fill-in span {
  font: 14px/20px 'Arvo', serif;
  color: #1F83FF; 
}

.contact-info li {
  font: 14px/20px 'Arvo', serif;
}

/* Footer */

footer {
  font: 12px/36px 'Arvo', serif;
  text-align: right;
}

footer .extra {
  display: none;
}

footer .attributions {
  display: none;
}